.card {
  border-radius: 28px;
  overflow: hidden;
  position: relative;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0px 11px 3px rgba(0, 0, 0, 0.25);
}

.card--pc {
  width: 500px;
  height: 250px;
  margin: 0 20px 80px;
  box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.25);
}

.card--pc > img {
  width: 100%;
  height: 100%;
}

.card--pc > .card__text {
  position: absolute;
  width: 400px;
  top: 85%;
  left: 48%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  line-height: 35px;
  color: white;
}

.card--mobile {
  width: 300px;
  height: 420px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 60px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.4);
}

.card--mobile > img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.card--mobile > .card__text {
  position: absolute;
  top: 85%;
  left: 48%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  line-height: 35px;
  color: white;
}
